@import url('https://fonts.googleapis.com/css?family=Lato:300,400|Libre+Baskerville');
@font-face {
    font-family: "socialico";
    src: url("fonts/Socialico/Socialico.eot");
    src: url("fonts/Socialico/Socialico.eot?#iefix") format("embedded-opentype"), url("fonts/Socialico/Socialico.woff2") format("woff2"), url("fonts/Socialico/Socialico.woff") format("woff"), url("fonts/Socialico/Socialico.ttf") format("truetype"), url("fonts/Socialico/Socialico.svg#lobster_1.4regular") format("svg");
}

.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: "Lato"}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}

/*floats*/
.fl {float:left;}
.fr {float:right;}

/* grids */
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.socialico{font-family: "Socialico"}
/*button*/
.btn {font-family: "Lato"; font-size: 16px; font-weight: 400; color: #fff; display: inline-block; padding: 10px 30px; background: #623277; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #fff;}

/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}

/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}

/*call to action*/
.cta {display: none;}

/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}

/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}

/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}

h1 {font-family: "Libre Baskerville"; font-size: 58px;font-weight: 400;color:#1F3F9A;}
h2 {font-family: "Libre Baskerville"; font-size: 36px; font-weight: 400; color: #1F409B}
/*header*/
#header {position: relative;padding: 40px 0 0; z-index: 9999}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0; text-align: right;}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-family: "Lato"; font-size: 16px; font-weight: 400;color: #fff;margin-left: 40px;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#fff;}
.headLogo{filter: drop-shadow(0px 0px 18px #fff);max-width: 388px; width: 100%;}

/*banner*/
#banner {position: relative;margin-top: -131px;background: url(../images/common/bgBanner.jpg)no-repeat center top; background-size: cover;padding: 358px 0 224px}
#banner p{max-width: 1036px; margin: 0 auto; border-top: 1px solid #fff;font-family: "Lato"; font-weight: 400;font-size: 50px; color: #fff;letter-spacing: 10px}
#banner p span{display: block; font-size: 87px;letter-spacing: 2px; position: relative;margin: -10px 0 20px;}
#banner p span::before{content:""; max-width: 292px;width: 29%;height: 1px;background: #fff; position: absolute; top: 50%;left:0; transform: translateY(-50%);}
#banner p span::after{content:""; max-width: 292px;width: 29%;height: 1px;background: #fff; position: absolute; top: 50%;right:0; transform: translateY(-50%);}

/* section1 */
#section1{padding: 70px 0 0;}
#section1 p{font-family: "Lato"; font-weight: 300; font-size: 25px;margin: 20px auto 0;max-width: 1069px }
#section1 img{margin: 60px auto 0;max-width: 916px; width: 100%;}

/* section2  */
#section2{background: url(../images/common/bg1.jpg)no-repeat center top; background-size: cover; padding: 50px 0;}
#section2 h1{color: #fff;}
.flexbox{display: flex; justify-content: space-between;flex-wrap: wrap;}
.flexbox dl{max-width: 351px;width: 33%;}
.flexbox dl dt img{max-width: 351px; width: 100%;}
.flexbox dl dd{margin: 0;padding: 30px 0 0;font-family: "Lato"; font-weight: 400; font-size: 26px; color: #fff;}

/* section3 */
#section3{padding: 85px 0 55px;}
#section3 .row{max-width: 1440px}
.bg-1 {width: 61px; height: 61px;background: url('../images/content/svc_sprites.png') -10px -10px;}
.bg-2 {width: 61px; height: 61px;background: url('../images/content/svc_sprites.png') -91px -10px;}
.bg-3 {width: 61px; height: 61px;background: url('../images/content/svc_sprites.png') -10px -91px;}
.bg-4 {width: 61px; height: 61px;background: url('../images/content/svc_sprites.png') -91px -91px;}
.bg-5 {width: 61px; height: 61px;background: url('../images/content/svc_sprites.png') -172px -10px;}
.s3flex{display: flex; justify-content: flex-start;flex-wrap: wrap}
.s3flex .choose{width: 33%;margin: 30px 0;}
.choose img, .choose p{display: inline-block;vertical-align: top;}
.choose p{ margin: 0 auto 0 10px;max-width: 332px; width: 77%;font-family: "Lato"; font-weight: 400; font-size: 16px; text-align: left;}
.choose p span{font-size: 21px}

/* section4 */
#section4 .row{max-width: 100%}
#section4 .images{display: flex;justify-content: center;flex-wrap:wrap;}
#section4 .images img{width: calc(100%/3);height: 100%;}

/* section5 */
#section5{background: url(../images/common/bg2.jpg)no-repeat center top; background-size: cover; padding: 60px 0;}
#section5 h1{color: #fff;}
#section5 .form-top input[type="text"]{display: inline-block;vertical-align: top; width: 32%;}
#section5 form textarea{width: 97%;}
#section5 form label{color: #fff;}
#section5 form .ctcBtn{font-family: "Lato"; font-weight: 400; font-size: 16px; color: #fff; background: #623277; padding: 20px 30px ;border: 1px solid transparent;}

/* section6 */
#section6{padding: 60px 0 30px;}
#section6 p{position: relative;max-width: 1117px; margin: 1em auto; font-family: "Lato"; font-weight: 300;font-size: 25px; color: #000000;}
#section6 p:before{content: ""; width: 41px; height: 5px;background: #1F3F9A; position: absolute;top:-1em; left:50%; transform: translateX(-50%);}

/*footer*/
#footer {background: #623277;}
.footTop{padding: 50px 0;}
.footTopLeft{padding: 40px 0 0;text-align: left;}
.footTopMid{padding: 40px 0 0;text-align: left;border-left: 1px solid rgba(255,255,255,0.3);border-right:1px solid rgba(255,255,255,0.3);min-height: 220px;}
.footTopRight{padding: 40px 0 0;text-align: left;}
.footTopLeft img{max-width: 370px; width: 80%;}
.footTopLeft p.tag{font-family: "Lato"; font-weight: 400; font-size: 30px; color: #fff;}
#footer dl{margin: 0 0 20px 40px;}
#footer dl dt{font-family: "Libre Baskerville"; font-weight: 400; font-size: 20px; color: #F16523;}
#footer dl.first dd{font-family: "Lato"; font-weight: 400; font-size: 26px; color: #fff}
#footer dl dd{margin: 5px 0 0;font-family: "Lato"; font-weight: 400; font-size: 18px; color: #fff}
#footer dl dd p{margin: 0;letter-spacing: 15px; font-size: 29px}

.footBot{background: #452354; padding: 20px 0;}
.footBot .nav ul {margin: 0;padding: 0;}
.footBot .nav ul li {display: inline-block;vertical-align: middle;}
.footBot .nav ul li a {font-family: "Lato"; font-size: 16px; font-weight: 400;color: #fff;margin: 0 40px;}
.footBot .nav ul li.active-menu a, .footbot .nav ul li a:hover {color:#fff;}
.footBot .copy, .footBot .silver{font-family: "Libre Baskerville"; font-size: 14px; color: #fff}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}


/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.inner #content h1{margin-bottom: 30px; font-family:"Libre Baskerville"; font-size:70px; line-height:120%}
.inner #content p{font-size: 18px; line-height: 180%; font-family:"Lato"}
.inner-services{text-align: left;}

/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}


/** Responsive
-------------------------------------------------------*/


@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
  #header nav ul li a {font-size: 1.5625vw;margin-left: 18px;}
  #banner p span::before{width: 25%;}
  #banner p span::after{width: 25%;}
  .flexbox{justify-content: space-around;}
  .flexbox dl{width: 50%;}
  .s3flex .choose{width: 50%;}
  #section4 .images img{width: calc(100%/2);}
  .footTopLeft.col-5{width: 30%;}
  .footBot .nav ul li a{margin: 0 18px;}
  .footTopMid{border-left:none; border-right: none}
}

@media screen and (max-width: 800px){
  [class*="col-"] {
      width: 100%!important;
  }
  .resSection{padding: 30px 0 !important;}
  .resImg{display: none;}

	#header {padding: 50px 0 0; }
	#header .row {width: 100%}
	#header nav {display:block; height: auto; position: absolute; top: 0;left: 0;right: 0; width: 100%;z-index: 9999}
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000;background: rgba(98,50,119,0.5);text-align: left;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; font-size: 16px; padding: 10px 0;margin: 0 -10px 0 10px;color: #fff}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #623277; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
  #header nav ul li.active-menu, #header nav ul li:hover {background: #623277}
  .headLogo{margin: 30px auto;}

  #banner{padding: 140px 0 20px;}
  #banner p{border-top: none;}
  #banner p span::before{display: none;}
  #banner p span::after{display: none;}

  .flexbox dl{width: 100%;}

  .s3flex .choose{width: 100%;}



  #section5 .form-top input[type="text"]{width: 100%;}
  #section5 form textarea{width: 100%;}
  #section5 form .g-recaptcha{transform: scale(0.9);}

  .footTopLeft{padding: 0;}
  .footTopMid{padding: 0;min-height: 0}
  .footTopRight{padding: 0;}
  #footer dl{margin: 0 0 20px;}

  .footTopMid{border-left:none; border-right: none}
	.cta{background: #623277  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #623277 ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}
@media screen and (max-width: 600px){
  .headLogo{width: 70%;}
  h1{font-size: 9.666666666666666vw}
  h2{font-size: 6vw;}
  #banner p{font-size: 6.333333333333334vw}
  #banner p span{font-size: 14.5vw}
  #section1 p{font-size: 4.5vw; line-height: 25px}
  .inner #content h2{font-size: 5.5vw}
}
